.flex {
  display: flex;
}

/* header */
.contact-link {
  margin-left: 40px;
}

.log-in {
  margin-left: auto;
}

.navigation-list {
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 66.6%;
  min-height: 40px;
  gap: 45px;
}

.header-button {
  width: 33.3%;
  min-height: 70px;
  align-items: center;
  justify-content: space-around;
  min-width: 100px;
}

/* offers */
.offer-blocks {
  justify-content:flex-start;
  align-items: stretch;
  gap: 24px;
}

.blocks-wrapper {
  flex: 1 1 48%;
}

/* about us */
.description {
  margin-bottom: 20px;
}
/* services */
.services {
  flex-wrap: wrap;
  align-items: stretch;
  gap: 24px;
}

.services-block {
  flex: 1 1 48%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: 330px;
}

/* advantages */
.container {
  flex-wrap: wrap;
  align-items: stretch;
  min-height: 300px;
  gap: 22px;
}

.adv-block {
  flex: 1 1 15%;
  align-items: flex-start;
  min-height: 128px;
}

/* accommodation */
.accommodation-list {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 24px;
}

.acm-item {
  flex: 1 1 28%;
  min-height: 440px;
}

.article-content {
  flex-direction: column;
  align-items: flex-start;
}
